body {
    background-color: #030911;
    display: grid;
    gap: 10px;
    justify-content: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

:root {
    --FONT-COLOR: #c9d1d9;
    --BORDER-RADIUS: 8px;
    --PADDING: 20px 25px;
    --FONT-SIZE: 16px;
    --MAX-WIDTh: 600px;
    /* optional: subtle blur for effect */
    --BLUR: blur(4px);
}

.icon {
    font-size: var(--FONT-SIZE);
    align-items: vertical;
}

.banner.success {
    background-color: rgba(30, 52, 30, 0.7);
    border: 1px solid #238636;
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING);
    color: var(--FONT-COLOR);
    font-size: var(--FONT-SIZE);
    max-width: var(--MAX-WIDTh);
    backdrop-filter: var(--BLUR);
}

.banner.warning {
    background-color: rgba(255, 193, 7, 0.56);
    border: 1px solid #f1c40f;
    color: var(--FONT-COLOR);
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING);
    font-size: var(--FONT-SIZE);
    max-width: var(--MAX-WIDTh);
    backdrop-filter: var(--BLUR);
}

/* Error */
.banner.error {
    background-color: rgba(231, 77, 60, 0.545);
    border: 1px solid #e74c3c;
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING);
    color: var(--FONT-COLOR);
    font-size: var(--FONT-SIZE);
    max-width: var(--MAX-WIDTh);
    backdrop-filter: var(--BLUR);
}

/* Info */
.banner.info {
    background-color: rgba(52, 152, 219, 0.519);
    border: 1px solid #3498db;
    border-radius: var(--BORDER-RADIUS);
    padding: var(--PADDING);
    color: var(--FONT-COLOR);
    font-size: var(--FONT-SIZE);
    max-width: var(--MAX-WIDTh);
    backdrop-filter: var(--BLUR);
}